* {
  box-sizing: border-box;
}

::-webkit-scrollbar{
width:15px;

}
::-webkit-scrollbar-track{
border:5px solid #17036A;
box-shadow: inset 0 0 2.5px 2px rgba(181,163,225,0.5);
}
::-webkit-scrollbar-thumb{
background: linear-gradient(45deg,#ffff00,#ffd600,#ff6d00);
border-radius:30px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
    background-color: #fff176;
    margin:10px;
    border-radius: 10px;
}

/* Style the header */

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left middle middle middle middle'
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}
.header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSUX6YHbPHkM3LgmLRCXzb4DEitXJemJtKuKg&usqp=CAU");
  background-size: 500px 100px;
  background-repeat: repeat;
  background-position:center;
  width: 100%;
  grid-area: header;
  background-color: #f1f1f1;
  padding: 30px 0px 30px 0px;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
}

.left,
.middle{
  padding: 10px;
  height:auto; /* Should be removed. Only for demonstration */
}

/* Style the left column */

/* Style the middle column */
.middle {
  grid-area: middle;
  width:1080px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 10px;

}
.middlecontent{
width: 100%;
background-color:rgba(204, 255, 204,0.3);
padding:25px;
height: auto;
border-radius: 20px;
}
.middlecontent, h2{
  display: block;
  text-align:center;
}
.middlecontent, p{
display: inline-block;
text-align:left;
float:left;
margin:5px 0px 5px 5px;
color: #000000;
font-size:14pt;
}
.middlecontent p:hover{
  color:#734d26;
  text-decoration: underline;
}
.middlecontentle, span{
color:#e67300;
margin:5px 5px 5px 0px;
font-weight: bold;
text-align: left;
display: inline-block;
float: left;
font-size:14pt;
}
div.middlepolaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: block;
}
.middlepolaroid, img{
  float: right;
  display:block;

}
/* Style the footer */
.footer {
  grid-area: footer;
  background-color:#ffe0b2;
  padding: 10px;
  text-align:left;
  border-radius:25px;
  width:100%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width:1080px) {
  .grid-container  {
    grid-template-areas:
      'header header header header header header'
      'left left left left left left'
      'middle middle middle middle middle middle'
      'footer footer footer footer footer footer';
  }
.middle{
  width:100%;
}
}
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width:auto;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
background-color:#ffffff;
}

.flip-card-back {
  background-color:#734d26;
  color: white;
  transform: rotateY(180deg);
}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
.polaroid img{
  width:200px;
  height:200px;
}
li
{
  list-style-type: none;
  margin-left: 1vw;
}
li:first-child
{
  margin:0;
}
.container3
{

}

.copyright,  .impressum
{
  text-align:left;
  float: left;
}

.logo
{
  height:50px;
  width: 50px;
}

@media (max-width:1080px)
{
  li
  {
    margin-left: 0;
    margin-bottom: 1vh;
  }

  .sozial
  {

    margin-bottom: 1vh;
  }
}

#sidenav h2 {
font-size:21px;
padding-left:16px;
margin:-4px 0 4px 0;
width:204px;
}
#sidenav a {font-family:"Segoe UI",Arial,sans-serif;text-decoration:none;display:block;padding:2px 1px 1px 16px}
.left{
  grid-area: left;
position:fixed;
top:0;
padding-top:112px;
padding-bottom:0;
height:100%;
width:220px;
}
.leftmenuinnerinner {
height:100%;
width:100%;
overflow-y:scroll;
overflow-x:hidden;
padding-top:20px;
}
@media (max-width:992px) {
.top {height:100px}
.top img {display:block;margin:auto;}
.top .w3schools-logo {position:relative;top:0;width:100%;text-align:center;margin:auto}
.toptext {width:100%;text-align:center}
#sidenav {width:260px;}
#sidenav h2 {font-size:26px;width:100%;}
#sidenav a {padding:3px 2px 3px 24px;font-size:17px}
.leftmenuinner {overflow:auto;-webkit-overflow-scrolling:touch;height:100%;position:relative;width:auto;padding-top:0;}
.leftmenuinnerinner {overflow-y:scroll}
.bottomad {float:none;text-align:center}
#skyscraper {min-height:60px}
}
